Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@kolakachi 
dangeezz
/
localsupahero
Private
2
00
Code
Issues
Pull requests
Actions
Projects
Security
Insights
localsupahero/src/styles/app.css
@dangeezz
dangeezz Change logo
Latest commit 20bc78f 3 hours ago
 History
 1 contributor
250 lines (211 sloc)  3.79 KB
  
body {
  background: #f5f7fd;
  color: #505050;
  font-family: "Lato", sans-serif;
  font-size: 0.875rem;
  font-size: 0.9rem;
}

.sidebar .nav-link {
  color: #fff;
}

.sidebar .nav-link:hover {
  color: #f5f5f5;
}

.sidebar .nav-link.active {
  background-color: rgba(218, 216, 216, 0.31);
  border-left: 2px solid #fff;
  color: #fff;
}

.nav-submenu {
  display: none;
  border-radius: 0.25rem;
  background: rgba(0, 0, 0, 0.31);
  width: 250px;
  margin: 0 auto;
}

.nav-link-body {
  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
}

.socials {
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
}

.socials .nav-link {
  padding: 0.35rem;
}

.nav-link-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  object-fit: contain;
  object-position: center;
  flex-shrink: 0;
  transition: 0.2s ease-in-out;
}

.nav-link-text {
  white-space: nowrap;
  margin-left: 1rem;
  transition: 0.1s ease-in-out;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -250px;
  z-index: 2010;
  border-radius: 0 0.75rem 0.75rem 0;
  width: 250px;
  background: linear-gradient(180deg, #f2ab6d 0%, #2e2b8b 0%, #048abf 100%) 0%
    0% no-repeat padding-box;
  transition: 0.2s ease-in-out;
}

.logo-small {
  display: none;
}

@media (min-width: 991px) {
  .collapse-sidebar .logo-main {
    display: none;
  }

  .collapse-sidebar .logo-small {
    display: inline-block;
  }

  .expand-sidebar .logo-small {
    display: none;
  }

  .expand-sidebar .logo-main {
    display: inline-block;
  }
}

@media (max-width: 991px) {
  .show-sidebar::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 2000;
    width: 100%;
    background: rgba(45, 64, 150, 0.31);
  }
}

@media (max-width: 991px) {
  .show-sidebar .sidebar {
    left: 0;
    border-radius: 0;
  }

  .show-sidebar .logo-open {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .sidebar {
    left: 0;
  }

  .collapse-sidebar .sidebar {
    width: 80px;
  }

  .expand-sidebar .sidebar {
    width: 250px;
  }
}


.topbar {
  position: fixed;
  top: 0;
  z-index: 2000;
  background: #f5f7fd;
  left: 0;
  right: 0;
  transition: 0.2s ease-in-out;
}

#search.form-control {
  background-color: #fff;
  height: calc(1.5em + .75rem + 2px);
}

@media (min-width: 992px) {
  .topbar {
    margin-left: 250px;
    transform: none;
  }

  .collapse-sidebar .topbar {
    margin-left: 70px;
    transform: none;
  }
}

@media (max-width: 991px) {
  .show-sidebar .topbar {
    transform: translateX(250px);
  }
}

.main {
  transition: 0.2s ease-in-out;
}

@media (max-width: 991px) {
  .show-sidebar .main {
    transform: translateX(250px);
  }
}

@media (min-width: 992px) {
  .main {
    margin-left: 250px;
    transform: none;
  }

  .collapse-sidebar .main {
    margin-left: 70px;
    transform: none;
  }
}

/* Toggle */
.toggle-switch {
  display: inline-block;
  margin: 0;
  position: relative;
}
.toggle-switch input[type="checkbox"] {
  position: absolute;
  left: -999999px;
}

.toggle {
  position: relative;
  width: 70px;
  height: 30px;
  background: #ccc;
  border-radius: 1rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.handle {
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translate(0, -50%);
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: 0.4s ease-in-out;
}

.handle::after {
  content: "Off";
  display: inline-block;
  font-size: 10px;
  font-weight: 900;
}

input:checked + .toggle {
  background: linear-gradient(90deg, #f2ab6d 0%, #2e2b8b 0%, #048abf 100%);
}

input:checked + .toggle > .handle::after {
  content: "On";
}

input:checked + .toggle > .handle {
  transform: translate(39px, -50%);
}

/* Custom utilities */
.pointer-none {
  pointer-events: none;
}
© 2021 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
