@media(min-width: 1200px) {
    body {
      background: #F1F3F6 no-repeat url('/images/BG-1.jpg');
      background-position: right top;
      background-size: cover;
      background-size: 1280px 100%;
    }
  }
  
  .auth-form .form-control {
    box-shadow: 0px 8px 18px #3754AA1C;
    background-color: #F1F3F6;
    border-radius: 10px;
    height: 60px !important;
    padding: 1rem 1.5rem
  }
  
  .auth-wrapper {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-end;
    min-height: calc(100vh - 2rem);
  }
  
  .brand-logo {
    width: 120px;
    height: 120px;
  }
  
  
  .copyright {
    position: relative;
    z-index: 1;
    text-align: center;
  }
  
  @media(min-width: 1280px) {
    .copyright {
      color: #fff;
      text-align: right;
    }
  }
  